@page
@model BootstrapComponentsApp.Pages.PopOverDemoModel
@{
    ViewData["Title"] = "Popover home page";
}


@*
    - list of buttons when focus is lost the popover goes away
    - the last button pop over stays until the button is clicked a second time
*@

<style>

    .custom-title {
        color: #fff;
        background-color: #0d6efd;
        margin: -.5rem -1rem;
        padding: .5rem 1rem;
        border-radius: calc(.3rem - 1px) calc(.3rem - 1px) 0 0;
    }
</style>


<div class="container">

    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5 text-center">Popover examples</h1>
    </div>

    <div style="height: 2em"></div>

    

    <div id="main-content">
        @{
            <div class="row mb-lg-5"></div>
            foreach (var (index, item) in Model.PopContainer.Index())
            {
                string value = $"button{index +1}";
                <div class="row mb-5">
                    <div class="col-5">
                    </div>
                    <div class="col-md-2">
                        <button type="button"
                                id="@value"
                                class="btn btn-lg @item.ButtonForeColor w-100"
                                data-bs-toggle="popover"
                                data-bs-trigger="focus"
                                html="true"
                                title="@item.Title"
                                data-bs-placement="@item.Placement"
                                data-bs-content="@item.Content">
                            @item.Text
                        </button>
                    </div>

                </div>
            }


        }

        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-md-2">

                <button type="button"
                        data-bs-trigger="focus"
                        class="btn btn-lg btn-danger w-100"
                        id="specialPopOver"
                        data-toggle="popover">
                    Styled
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-5">
            </div>
            <div class="col-md-2">
                <input id="userName" 
                       class="form-control border border-danger"
                       data-bs-toggle="popover" 
                       data-bs-placement="Right" 
                       data-bs-trigger="focus" 
                       title="Instructions" 
                       data-bs-content="Enter your first and last name" />
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function(e) {

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });



            $("#specialPopOver").popover({
                title: '<h4 class="custom-title"><i class="bi-info-circle-fill"></i> Popover info</h4>',
                content: '<p>..This is a <em>simple example</em> demonstrating how to insert HTML code inside <strong>Bootstrap</strong> 5 popover.</p>',
                html: true
            });

        });
    </script>
}